[project]
	description = A general repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prem Ganeshkumar (agoloprem)
[access "refs/for/refs/*"]
	read = group user/Prem Ganeshkumar (agoloprem)
	push = group user/Prem Ganeshkumar (agoloprem)
	label-Code-Review = -2..+2 group user/Prem Ganeshkumar (agoloprem)
	label-Verified = -1..+1 group user/Prem Ganeshkumar (agoloprem)
	rebase = group user/Prem Ganeshkumar (agoloprem)
	removeReviewer = group user/Prem Ganeshkumar (agoloprem)
	submit = group user/Prem Ganeshkumar (agoloprem)
[access "refs/heads/*"]
	read = group user/Prem Ganeshkumar (agoloprem)
	create = group user/Prem Ganeshkumar (agoloprem)
	push = +force group user/Prem Ganeshkumar (agoloprem)
	pushMerge = group user/Prem Ganeshkumar (agoloprem)
[access "refs/tags/*"]
	push = +force group user/Prem Ganeshkumar (agoloprem)
	pushTag = group user/Prem Ganeshkumar (agoloprem)
	pushSignedTag = group user/Prem Ganeshkumar (agoloprem)
